html {
    background-image: url('https://img.freepik.com/vector-premium/diseno-color-gris-fondo-negro-abstracto-es-claro-fondo-degradado-blanco_35947-425.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(200px);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    backdrop-filter: blur(20px);
    text-align: center;

}

#contenido {
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 25px;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 10px;
}

h2 {
    font-size: 20px;
    color: #111212;
    font-family: 'Times New Roman', serif;
    text-align: center;
    margin: 0;
    padding: 10px;
    color: rgb(221, 221, 221);
}

#formulario {
    box-sizing: border-box;
    box-shadow: 150px 40px 20px rgba(0, 0, 0, 0.5);
    width: 75vh;
    padding: 20px;
    text-align: center;
    background-color: #4c4c4c;
    border-radius: 50px;
    border: 10px outset black;
}

#Botonformulario {
    background-color: #ffffff;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    width: 60px;
    height: 40px;
    margin: 10px;
}

#Botonformulario:hover {
    background-color: black;
    color: #ffffff;
}

#terminosYCondiciones {
    width: 100px;
    height: 20px;
}

.asdf {
    font-size: 15px;
    font-family: Arial;
    text-align: center;
    margin: 0;
    padding: 10px;
}

#nombre {
    margin: 1%;
    width: 45%;
    border-radius: 10px;

}

#apellidos {
    margin: 1%;
    width: 45%;
    border-radius: 10px;

}

#edad {
    margin: 1%;
    width: 20%;
    border-radius: 10px;

}

#correo {
    margin: 1%;
    width: 45%;
    border-radius: 10px;

}

#vivir {
    margin: 1%;
    width: 15%;
    border-radius: 10px;

}

#password1 {
    margin: 1%;
    width: 45%;
    border-radius: 10px;

}

#password2 {
    margin: 1%;
    width: 45%;
    border-radius: 10px;

}

#terminosYCondiciones {
    margin: 1%;
    width: 45%;
    border-radius: 10px;

}

h3 {
    font-size: 30px;
    color: white;
}

#formulario2 {}