html {
    background-image: url('https://d1ih8jugeo2m5m.cloudfront.net/2021/07/imagenes-sin-copyright-gratis.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    backdrop-filter: blur(200px);
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    backdrop-filter: blur(10px);

}

h1 {
    font-size: 15px;
    font-family: Arial, sans-serif;
    text-align: center; 
    margin: 0; 
    padding: 10px; 
}

#formulario {
    background-color: #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
    width: 50vh;
    padding: 20px; 
    text-align: center; 
    background-color: hsla(0, 0%, 100%, 0.5); 
}
#Botonformulario {
    background-color: #ffffff;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    width: 50px;
    height: 30px;
    margin-top: 10px;
}
#Botonformulario:hover {
    background-color: black;
    color: #ffffff;
}

